* {
  box-sizing: border-box; }

body {
  background-color: #f4f4f4; }

header h1 {
  font-family: 'Gloria Hallelujah', cursive;
  text-align: center;
  font-size: 8rem;
  text-transform: uppercase;
  letter-spacing: 0.8rem;
  padding: 20px;
  color: #ac2330; }

header h2 {
  font-size: 3rem;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  margin: 60px;
  margin-bottom: 0; }

table {
  width: 60%;
  margin: 30px auto; }
  table tr th {
    color: white;
    text-transform: uppercase;
    font-size: 2rem;
    padding: 15px;
    background-color: grey; }
  table tr td {
    padding: 15px;
    text-transform: capitalize;
    font-size: 1.5rem;
    border-bottom: 1px solid grey; }
    table tr td img {
      height: 73%; }

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important; }
