* {
  box-sizing: border-box; }

body {
  background-color: #f4f4f4; }

header h1 {
  font-family: 'Gloria Hallelujah', cursive;
  text-align: left;
  margin: 0 auto;
  font-size: 5rem;
  text-transform: uppercase;
  letter-spacing: 0.8rem;
  width: 60%;
  padding: 30px;
  padding-bottom: 0;
  padding-left: 0;
  color: #ac2330; }

header h2 {
  font-size: 3rem;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  margin: 60px;
  margin-bottom: 0;
  color: #f4f4f4; }

table {
  width: 60%;
  margin: 30px auto;
  margin-top: 20px; }
  table tr th {
    color: white;
    text-transform: uppercase;
    font-size: 2rem;
    padding: 10px;
    background-color: grey; }
  table tr td {
    padding: 10px;
    text-transform: capitalize;
    font-size: 1.5rem;
    border-bottom: 1px solid lightgrey; }
    table tr td input {
      width: 50%; }
    table tr td img {
      height: 73%; }
    table tr td #quantity {
      text-align: center; }

form {
  width: 60%;
  margin: 30px auto;
  margin-top: 100px; }
  form h2 {
    text-align: left;
    color: #ac2330;
    font-family: 'Gloria Hallelujah', cursive; }
  form p {
    color: grey;
    margin-top: 30px;
    margin-left: 5%; }
  form input {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 30px;
    background-color: #f4f4f4;
    padding: 2px;
    display: block;
    border: none;
    font-size: 1.5rem;
    outline: none;
    border-bottom: 1px solid lightgrey; }
  form input.ng-pristine {
    color: lightgrey; }
  form input.ng-invalid {
    color: #dd636e; }
  form #submit {
    margin-right: 2%;
    font-size: 2rem;
    color: #ac2330;
    background-color: #f4f4f4;
    border: 2px solid #ac2330;
    padding: 8px;
    width: auto; }

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important; }
