* {
  box-sizing: border-box; }

body {
  background-color: #f4f4f4; }

header {
  width: 60%;
  margin: 0 auto;
  padding: 30px;
  padding-bottom: 0;
  padding-left: 0; }
  header h1 {
    display: block;
    width: 49%;
    font-family: 'Gloria Hallelujah', cursive;
    text-align: left;
    font-size: 5rem;
    text-transform: uppercase;
    letter-spacing: 0.8rem;
    color: #ac2330;
    margin-bottom: 20px; }
  header form {
    display: inline-block;
    width: 50%;
    margin-bottom: 0;
    margin-top: 0; }
    header form input {
      width: 40%;
      margin-right: 0;
      margin-left: 0;
      margin-bottom: 0;
      vertical-align: baseline;
      display: inline-block; }
    header form button {
      margin-left: 10px;
      display: inline-block;
      background-color: #f4f4f4;
      outline: none;
      border: 2px solid #ac2330;
      padding: 5px 10px;
      color: #ac2330; }
  header p {
    text-align: right; }

table {
  width: 60%;
  margin: 30px auto;
  margin-top: 5px; }
  table tr th {
    color: white;
    text-transform: uppercase;
    font-size: 2rem;
    padding: 10px;
    background-color: grey; }
  table tr td {
    padding: 10px;
    text-transform: capitalize;
    font-size: 1.5rem;
    border-bottom: 1px solid lightgrey; }
    table tr td input {
      width: 50%; }
    table tr td img {
      height: 73%; }
    table tr td #quantity {
      text-align: center; }

form {
  width: 60%;
  margin: 30px auto;
  margin-top: 100px; }
  form h2 {
    text-align: left;
    color: #ac2330;
    font-family: 'Gloria Hallelujah', cursive; }
  form p {
    color: grey;
    margin-top: 30px;
    margin-left: 5%; }
  form input {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 30px;
    background-color: #f4f4f4;
    padding: 2px;
    display: block;
    border: none;
    font-size: 1.5rem;
    outline: none;
    border-bottom: 1px solid lightgrey; }
  form input.ng-pristine {
    color: lightgrey; }
  form input.ng-invalid {
    color: #dd636e; }
  form #submit {
    margin-right: 2%;
    font-size: 2rem;
    color: #ac2330;
    background-color: #f4f4f4;
    border: 2px solid #ac2330;
    padding: 8px;
    width: auto; }

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important; }
